.page-header
  h1 Demo
    small &nbsp;::&nbsp;pictor

p {{routeParams}}

.panel.panel-success
  .panel-heading
    h3.panel-title request
  .panel-body
    .col-md-3
      ul.nav.nav-pills.nav-stacked
        li(ng-class="{active:method=='upload'}"): a(href="#/demo/upload") upload
        li(ng-class="{active:method=='upload_raw'}"): a(href="#/demo/upload_raw") upload raw
        li(ng-class="{active:method=='upload_multi'}"): a(href="#/demo/upload_multi") upload multi
        li(ng-class="{active:method=='download'}"): a(href="#/demo/download") download
        li(ng-class="{active:method=='delete'}"): a(href="#/demo/delete") delete
        li(ng-class="{active:method=='convert'}"): a(href="#/demo/convert") convert
        li(ng-class="{active:method=='convert_download'}"): a(href="#/demo/convert_download") convert&amp;download
    .col-md-9
      #requestView(ng-include="requestViewUrl")

.panel.panel-success
  .panel-heading
    h3.panel-title response
  .panel-body
    iframe#responseView.well.well-lg(name="responseView",src="",style="width:100%;height:300px;")
