.page-header
    h1 Configurations
        small &nbsp;::&nbsp;documents&&nbsp;::&nbps;pictor

p configuration files are separated for each envionment(`PICTOR_ENV` or `NODE_ENV` environment variable) in `config` directory.

p for more details, see <a href="http://github.com/iolo/pictor/tree/master/config/defaults.js">source code of default configuration</a>

h3 common

h5 PICTOR_ENV

p development|staging|production|.. or custom

h5 PICTOR_CONFIG

p path to the custom configuration file not in standard 'config' directory and not named via PICTOR_ENV

h5 PICTOR_HTTP_HOST

p TBW...

h5 PICTOR_HTTP_PORT

p TBW...

h5 PICTOR_TEMP_DIR

p TBW...

h5 PICTOR_UPLOAD_DIR

p TBW...

h3 development only

p TBW...

h3 staging only

p TBW...

h3 production only

p TBW...

