.page-header
    h1 Configurations
        small &nbsp;::&nbsp;pictor

p configuration files are separated for each envionment(`NODE_ENV` environment variable) in `config` directory.

p for more details, see [source code of default configuration](../master/config/defaults.js).
