.page-header
  h1 Getting Started
    small &nbsp;::&nbsp;pictor

ol
  li get source from github:
    pre
      code git clone git@github.com:iolo/pictor.git
  li or install with npm:
    pre
      code npm install pictor
  li startup pictor server
    pre
      code node app.js
  li test run in browser
    pre
      code open http://localhost:3001
  li test run in console
    pre
      code TBD...
