.page-header
  h1 Documents
    small &nbsp;::&nbsp;pictor

ul
  li: a(href="#/docs/getting_started") getting started
  li: a(href="#/docs/how_pictor_works") how pictor works
  li: a(href="#/docs/configurations") configurations
  li generated documents
    ul
      li: a(href="docs/api/") api documents
      li: a(href="docs/dox/") source code documents
  li advanced topics
    ul
      li: a(href="#") [TBW] embedding pictor in other expressjs app
      li: a(href="#") [TBW] custom storage
      li: a(href="#") [TBW] custom converter
      li: TBW...
  li: a(href="#/docs/internals") internals
