doctype html
html(ng-app="app")
    head
        block vars
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        title Pictor
        link(rel="shortcut icon",href="/favicon.ico",type="image/x-icon")
        link(rel="icon",href="/favicon.ico",type="image/x-icon")
        link(rel="stylesheet",href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet",href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
        link(rel="stylesheet",href="http://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro")
        link(rel="stylesheet",href="/css/app.css")
        block head
        //![if lt IE 9]
            script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js")
            script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
    body
        a(href="https://github.com/iolo/pictor")
            img(style="position:absolute;top:0;right:0;border:0;z-index:9999;",src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png",alt="Fork me on GitHub")


        #wrap
            #header.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
                .navbar-header
                    button.navbar-toggle(data-toggle="collapse",data-target="#nav")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") Pictor
                #nav.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li: a(href="/#/docs") Documents
                        li: a(href="/#/console") Console
                        li.dropdown
                            a.dropdown-toggle(href="#",data-toggle="dropdown") Demos
                                b.caret
                            ul.dropdown-menu
                                li: a(href="/demo/cropper") Image Resize &amp; Crop Demo

        #content.container(ng-view)

        #footer.container
            hr
            p.text-muted.text-center Copyright &copy; 2013-2014 IoloTheBard. All rights reserved.

        script(src="http://code.jquery.com/jquery-2.1.1.min.js")
        script(src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.min.js")

        script(src="js/app.js")
        script(src="js/controllers.js")
        script(src="js/directives.js")
        script(src="js/filters.js")
        script(src="js/services.js")

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-34990483-5', 'iolo.kr');
            ga('send', 'pageview');
