.panel.panel-info
    .panel-heading
        a.btn.btn-info.btn-xs.pull-right(href="/docs/api/#api-pictor-convert") api document
        h3.panel-title convert a file

    .panel-body
        form#convertForm.form-horizontal(action="{{apiUrl + '/convert'}}",method="post",target="responseView")
            .form-group
                label.control-label.col-md-3 converter
                .col-md-9
                    select.form-control(name="converter",ng-model="convert.converter")
                        option(value="",selected) -- choose a converter --
                        option(ng-repeat="converter in converters",value="{{converter}}",ng-bind="converter")
            .form-group(ng-show="convert.converter == 'preset'")
                label.control-label.col-md-3 preset
                .col-md-9
                    select.form-control(name="preset",ng-model="convert.preset")
                        option(value="",selected) -- choose a preset --
                        options(ng-repeat="preset in presets",value="{{preset}}",ng-bind="preset")
            .form-group(ng-show="!!convert.converter.match('convert|resize|thumbnail|rotate|crop|optimize|meta|exif|preset')")
                label.control-label.col-md-3 id:
                .col-md-9: input.form-control(type="text",name="id",ng-model="convert.id",ng-init="convert.id = 'foo.jpg'")
            .form-group(ng-show="!!convert.converter.match('resize|thumbnail|crop|cropresize|resizecrop|holder')")
                label.control-label.col-md-3 width:
                .col-md-9: input.form-control(type="number",name="w",ng-model="convert.w")
            .form-group(ng-show="!!convert.converter.match('resize|thumbnail|crop|cropresize|resizecrop|holder')")
                label.control-label.col-md-3 height:
                .col-md-9: input.form-control(type="number",name="h",ng-model="convert.h")
            .form-group(ng-show="!!convert.converter.match('crop|cropresize|resizecrop')")
                label.control-label.col-md-3 left:
                .col-md-9: input.form-control(type="number",name="x",ng-model="convert.x")
            .form-group(ng-show="!!convert.converter.match('crop|cropresize|resizecrop')")
                label.control-label.col-md-3 top:
                .col-md-9: input.form-control(type="number",name="y",ng-model="convert.y")
            .form-group(ng-show="!!convert.converter.match('resize|cropresize|resizecrop')")
                label.control-label.col-md-3 flags:
                .col-md-9: input.form-control(type="text",name="flags",ng-model="convert.flags")
            .form-group(ng-show="!!convert.converter.match('cropresize|resizecrop')")
                label.control-label.col-md-3 nw:
                .col-md-9: input.form-control(type="number",name="nw",ng-model="convert.nw")
            .form-group(ng-show="!!convert.converter.match('cropresize|resizecrop')")
                label.control-label.col-md-3 nh:
                .col-md-9: input.form-control(type="number",name="nh",ng-model="convert.nh")
            .form-group(ng-show="!!convert.converter.match('resize|thumbnail|crop|cropresize|resizecrop')")
                label.control-label.col-md-3 colors:
                .col-md-9: input.form-control(type="number",name="c",ng-model="convert.c")
            .form-group(ng-show="!!convert.converter.match('rotate')")
                label.control-label.col-md-3 degree:
                .col-md-9: input.form-control(type="number",name="degree",ng-model="convert.degree")
            .form-group(ng-show="!!convert.converter.match('convert|resize|thumbnail|crop|holder|preset')")
                label.control-label.col-md-3 format:
                .col-md-9: input.form-control(type="text",name="format",ng-model="convert.format")
            .form-group
                .col-md-9.col-md-offset-3
                    button.btn.btn-primary(type="submit") convert

        pre(ng-show="convert.converter == 'convert'"): code.
            curl -X POST "{{apiUrl}}/convert?converter=convert&id={{convert.id}}&format={{convert.format}}"
        pre(ng-show="convert.converter == 'resize'"): code.
            curl -X POST "{{apiUrl}}/convert?converter=resize&id={{convert.id}}&w={{convert.w}}&h={{convert.h}}&flags={{convert.flags}}&c={{convert.c}}&format={{convert.format}}"
        pre(ng-show="convert.converter == 'thumbnail'"): code.
            curl -X POST "{{apiUrl}}/convert?converter=thumbnail&id={{convert.id}}&w={{convert.w}}&h={{convert.h}}&c={{convert.c}}&format={{convert.format}}"
        pre(ng-show="convert.converter == 'rotate'"): code.
            curl -X POST "{{apiUrl}}/convert?converter=rotate&id={{convert.id}}&degree={{convert.degree}}&format={{convert.format}}"
        pre(ng-show="convert.converter == 'crop'"): code.
            curl -X POST "{{apiUrl}}/convert?converter=crop&id={{convert.id}}&w={{convert.w}}&h={{convert.h}}&x={{convert.x}}&y={{convert.y}}&c={{convert.c}}&format={{convert.format}}"
        pre(ng-show="convert.converter == 'cropresize'"): code.
            curl -X POST "{{apiUrl}}/convert?converter=cropresize&id={{convert.id}}&w={{convert.w}}&h={{convert.h}}&x={{convert.x}}&y={{convert.y}}&nw={{convert.nw}}&nh={{convert.nh}}&c={{convert.c}}&format={{convert.format}}"
        pre(ng-show="convert.converter == 'resizecrop'"): code.
            curl -X POST "{{apiUrl}}/convert?converter=resizecrop&id={{convert.id}}&nw={{convert.nw}}&nh={{convert.nh}}&w={{convert.w}}&h={{convert.h}}&x={{convert.x}}&y={{convert.y}}&c={{convert.c}}&format={{convert.format}}"
        pre(ng-show="convert.converter == 'optimize'"): code.
            curl -X POST "{{apiUrl}}/convert?converter=optimize&id={{convert.id}}"
        pre(ng-show="convert.converter == 'meta'"): code.
            curl -X POST "{{apiUrl}}/convert?converter=meta&id={{convert.id}}"
        pre(ng-show="convert.converter == 'exif'"): code.
            curl -X POST "{{apiUrl}}/convert?converter=exif&id={{convert.id}}"
        pre(ng-show="convert.converter == 'holder'"): code.
            curl -X POST "{{apiUrl}}/convert?converter=holder&w={{convert.w}}&h={{convert.h}}"
        pre(ng-show="convert.converter == 'preset'"): code.
            curl -X GET "{{apiUrl}}/convert?preset={{convert.preset}}&id={{convert.id}}"
