.page-header
  h1 Home
    small &nbsp;::&nbsp;pictor

.well.well-large
  p
    | The name of Pictor comes from&nbsp;
    a(href="http://en.wikipedia.org/wiki/Pictor") Pictor, a constellation
  img(src="img/pictor.jpg",alt="pictor logo")

h3 Introduction

p Local storages and traffic are *expensive*, especially in cloud envionment.
p There're many *cheap* and *large* cloud/remote storages services, most of them provide *cheap* and *fast* HTTP access.
p ex. Amazon S3, FTP+HTTP Static Image Hosting Services...

p Pictor is designed for these environment.
