.panel.panel-info
    .panel-heading
        a.btn.btn-info.btn-xs.pull-right(href="/docs/api/#api-pictor-uploadUrl") api document
        h5.panel-title upload a single file with public url

    .panel-body
        form#uploadRawForm.form-horizontal(action="{{apiUrl}}/upload",method="get",target="responseView")
            .form-group
                label.control-label.col-md-3 url:
                .col-md-9
                    input.form-control(type="url",name="url",required,ng-model="upload.url",ng-init="upload.url = 'http://octodex.github.com/images/original.png'")
            .form-group
                label.control-label.col-md-3 id:
                .col-md-9
                    input.form-control(type="text",name="id",required,ng-model="upload.id",ng-init="upload.id = 'foo.jpg'")
                    span.help-block enter 'new' to generate unique id(recommended) or enter id you want.
            .form-group
                label.control-label.col-md-3 prefix:
                .col-md-9
                    input.form-control(type="text",name="prefix",ng-model="upload.prefix")
                    span.help-block enter prefix(maybe category) for generated id. used only if id is 'new'.
            .form-group
                .col-md-9.col-md-offset-3
                    button.btn.btn-primary(type="submit") upload

        pre(ng-show="!!upload.id && !upload.prefix"): code.
            curl -X GET {{apiUrl}}/upload?id={{upload.id}}&url={{upload.url}}
        pre(ng-show="!!upload.prefix"): code.
            curl -X GET {{apiUrl}}/upload?id={{upload.id}}&prefix={{upload.prefix}}&url={{upload.url}}
