.panel.panel-info
  .panel-heading
    h5.panel-title upload a single file with multipart/form-data
  .panel-body
    form#uploadForm.form-horizontal(action="{{apiUrl}}/{{upload.id}}",method="post",enctype="multipart/form-data",target="responseView")
      .form-group
        label.control-label.col-md-3 file:
        .col-md-9
          input.form-control(type="file",name="file",required)
      .form-group
        label.control-label.col-md-3 id:
        .col-md-9
          input.form-control(type="text",name="id",required,ng-model="upload.id",ng-init="upload.id='foo.jpg'")
      .form-group
        label.control-label.col-md-3 prefix:
        .col-md-9
          input.form-control(type="text",name="prefix",value="",ng-disabled="upload.id != 'new'")
      .form-group
        .col-md-9.col-md-offset-3
          button.btn.btn-primary(type="submit") upload

    pre: code.
      curl -X POST -F "file=@foo.jpg" {{apiUrl}}/foo.jpg
      curl -X POST -F "file=@foo.jpg" {{apiUrl}}/new
      curl -X POST -F "file=@foo.jpg" {{apiUrl}}/new?prefix=test

